*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1A0B2E;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


/* shared style */
.primary-btn{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius:10000px;
    background: linear-gradient(25deg, rgba(247, 233, 63, 1)15%,rgba(251, 9, 180, 1)50%,rgba(145, 0, 248, 1)100%);
}

.heading-text{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: white;
}

