*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-color{
    background-color: #1A0B2E;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


/* shared style */
.primary-btn{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius:10000px;
    background: linear-gradient(25deg, rgba(247, 233, 63, 1)15%,rgba(251, 9, 180, 1)50%,rgba(145, 0, 248, 1)100%);
    cursor: pointer;
    align-items: center;
    gap: 4px;
}

.secondary-btn{
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.spotify-btn{
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 8px;
}


.heading-text{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: white;
}

.display-flex{
    display: flex;
}

.margin{
    margin: 0 auto;
}



/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    height: 92px;
    padding: 1rem 12.5rem;
}

.brand{
    cursor: pointer;
}
.menu{
    list-style: none;
    gap: 2rem;
}

.menu-items{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: white;
}



/* Hero section related style */
.hero{
    background-image: url('../images/hero-bg.png');
    max-width: 1600px;
    height: 760px;
    justify-content: center;
    align-items: center;
    padding: 101px 525px;
    
}

.hero-container{
    max-width: 550PX;
}

.hero-img{
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    max-width: 350px;
    height: 350px;
}

.hero-circle{
    position: absolute;
    z-index: 1;
}

.microphone{
    position: relative;
    z-index: 2;
}

.hero-container h1{
    text-align: center;
    font-size:3.75rem ;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}

.hero-container p{
    font-size: 1rem;
    color: white;
    margin-bottom: 24px;
    text-align: center;
}

.action-btn{
    gap: 10px;
    justify-content: center;
}