*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-color{
    background-color: #1A0B2E;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


/* shared style */
.primary-btn{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius:10000px;
    background: linear-gradient(25deg, rgba(247, 233, 63, 1)15%,rgba(251, 9, 180, 1)50%,rgba(145, 0, 248, 1)100%);
    cursor: pointer;
    align-items: center;
    gap: 4px;
}

.secondary-btn{
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.spotify-btn{
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 8px;
}


.heading-text{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: white;
}

.display-flex{
    display: flex;
}

.margin{
    margin: 0 auto;
}



/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    height: 92px;
    padding: 1rem 12.5rem;
}

.brand{
    cursor: pointer;
}
.menu{
    list-style: none;
    gap: 2rem;
}

.menu-items{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: white;
}



/* Hero section related style */
.hero{
    background-image: url('../images/hero-bg.png');
    max-width: 1600px;
    height: 760px;
    justify-content: center;
    align-items: center;
    padding: 101px 525px;
    
}

.hero-container{
    max-width: 550PX;
}

.hero-img{
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    max-width: 350px;
    height: 350px;
}

.new-badge{
    position: absolute;
    top: 22%; 
    right: 43%;
    z-index: 5;
    justify-content: flex-end;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    border-radius:1000px;
    padding: 8px 16px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}
.hero-circle{
    position: absolute;
    z-index: 1;
}

.microphone{
    position: relative;
    z-index: 2;
}

.hero-container h1{
    text-align: center;
    font-size:3.75rem ;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}

.hero-container p{
    font-size: 1rem;
    color: white;
    margin-bottom: 24px;
    text-align: center;
}

.action-btn{
    gap: 10px;
    justify-content: center;
}


/* about related style */
.about{
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;

}

.about-container{
    max-width: 1200px;
}

.about-text{
    text-align: center;
    /* max-width: 1200px; */
}

.about-text-description{
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 80px;
    color: white;
    opacity: 80%;
    max-width: 795px;
}

.about-info{
    justify-content: space-between;
    text-align: center;
}

.about-info-heading{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
    font-weight: 900;
}

.about-info-description{
    font-size: 1rem;
    line-height: 20px;
    color: white;
    opacity: 80%;
    text-transform: uppercase;
}


/* choose section related style */

.choose{
    background-color: #230E3D;
    padding: 120px 200px;
}


.choose-text{
    justify-content: center;
    margin-bottom: 40px;
}

.feature-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    gap: 30px;
    /* align-items: center; */
}

.card-info{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-info img{
    margin-bottom: 16px;
}
.card-info h3{
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: white;
    font-weight: 700;

}

.card-info p{
    font-size: 1rem;
    line-height: 24px;
    color: white;
    opacity: 60%;
}


.episodes{
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.episodes-container{
    max-width: 1200px;
}

.episodes-container h2{
    justify-content: center;
}

.episodes-iframe{
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 120px;
    max-width: 1200px;
    gap: 30px;

}

.episodes-info{
    background-color: #250D44;
    border-radius: 24px;
    max-width: 380px;
}

.episodes-info iframe{
    border-radius: 24px 24px 0 0;
    max-width: 380px;
}


.episodes-info h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin: 24px 24px 12px 24px;
    max-width: 332px;
}

.episodes-info p{
    font-size: 1rem;
    line-height: 24px;
    color: white;
    margin: 24px 24px 12px 24px;
    max-width: 332px;
    opacity: 60%;
}

.time{
    align-items: center;
    gap: 6px;
}
.time img{
    vertical-align: middle;
}


.host-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    gap: 24px;
    border-radius: 40px;
    align-items: center;
}

.host-info h3{
    font-size: 2rem;
    font-weight:700 ;
    color: white;
    margin-bottom: 16px;
}


.host-info p{
    font-size: rem;
    line-height: 24px;
    color: white;
    margin-bottom: 16px;
    opacity: 60%;
}

.host-info-icon{
    align-items: center; 
    gap: 8px;
}

footer{
    background-image: url('../images/footer-bg.png');
    height: 412px;
    max-width: 1600px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    justify-content: center;
    display: flex;
    text-align: center;
}


.footer-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-icons{
    gap: 40px;
    margin: 32px 0;
    justify-content: center;
}

.spotyfy{
    align-items: center;
    gap: 8px;
}
.spotyfy p{
    font-size: 1rem;
    color: white;
    font-weight: 500;
    text-align: center;
    opacity: 60%;
}

.copy-right{
    font-size: 1rem;
    line-height: 24px;
    color: #FAFAFA;
    opacity: 60%;
}